# Connection String de MongoDB
MONGO_URI=

# Puerto de la aplicación
PORT=

# URL del frontend
FRONTEND_URL=

# Configuración para conexión a supabase
SUPABASE_PROJECT=
SUPABASE_ANON_KEY=

# Contraseña del superusuario
SUPERUSER_PASSWORD=